:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-purple: #0E0B3D;
    --color-violet: #7127CF;
    --color-blue: #293FFF;
    --color-gray-border: #E6E6E6;
    --color-gray: #1F1F1F;
    --color-yellow: #FFCB14;
    --color-light-gray: #EEEEEE;
    --color-gray-footer:#8687A0;
    --color-dark-border: #252642;

}