table{
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    th,td{
        border: 1px solid silver;
        text-align: center;
    }
    button{
        padding: 5px 10px;
        background-color: greenyellow;
        color: black;
        font-weight: 500;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        transition: all 400ms ease;
        &:hover{
            background-color: black;
            color: greenyellow;
        }
    }
    .btn-delete{
        background-color: red;
        color: white;
        &:hover{
            background-color: white;
            color: red;
        }
    }
}
