:root{
    --color-white: #FFFFFF;
    --color-blue: #4C70EF;
    --color-gray: #B0ADAD;
    --color-background: #212121;
    --color-background-card: #292C36;
    --color-background-card-icon: #38405A;
    --color-background-button: #558FFF;
}