:root{
    --black: #000000;
    --white: #FFFFFF;
    --bg-perk: #FF75000A;
    --text-perk: #565656;
    --text-orange: #FF7500;
    --bg-orange: #FF6B00;
    --text-gray: #292929;
    --bg-footer: #121212;
}